<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product Items</h1>
    <!-- your_template.html -->

<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Products</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <ul>
                        {% for product in category.product_set.all %}
                            <li>{{ product.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>